[submodule "home/.vim/bundle/todotxt"]
	path = home/.vim/bundle/todotxt
	url = git://github.com/sideshowcoder/vimtodotxt.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/web-indent"]
	path = home/.vim/bundle/web-indent
	url = git://github.com/lukaszb/vim-web-indent.git
[submodule "home/.vim/bundle/puppet"]
	path = home/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "home/.vim/bundle/less"]
	path = home/.vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "home/.vim/bundle/ruby-xmpfilter"]
	path = home/.vim/bundle/ruby-xmpfilter
	url = git://github.com/t9md/vim-ruby-xmpfilter.git
[submodule "home/.vim/bundle/zenburn"]
	path = home/.vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "home/.vim/bundle/vim-rooter"]
	path = home/.vim/bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/golang"]
	path = home/.vim/bundle/golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "home/.vim/bundle/ack-vim"]
	path = home/.vim/bundle/ack-vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/vim-rbenv"]
	path = home/.vim/bundle/vim-rbenv
	url = git://github.com/tpope/vim-rbenv.git
[submodule "home/.vim/bundle/task-list"]
	path = home/.vim/bundle/task-list
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "home/.vim/bundle/vim-elixir"]
	path = home/.vim/bundle/vim-elixir
	url = git://github.com/elixir-lang/vim-elixir.git
[submodule "home/.vim/bundle/tmux-navigator"]
	path = home/.vim/bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "home/.vim/bundle/coffee-script"]
	path = home/.vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/trailing-whitespace"]
	path = home/.vim/bundle/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "home/.vim/bundle/vim-racket"]
	path = home/.vim/bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "home/.vim/bundle/vim-pad"]
	path = home/.vim/bundle/vim-pad
	url = https://github.com/fmoralesc/vim-pad.git
[submodule "home/.vim/bundle/vimerl"]
	path = home/.vim/bundle/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule "home/.vim/bundle/vim-handlebars"]
	path = home/.vim/bundle/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "home/.vim/bundle/vim-fireplace"]
	path = home/.vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "home/.vim/bundle/vim-classpath"]
	path = home/.vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "home/.vim/bundle/vim-clojure-static"]
	path = home/.vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
[submodule "home/.vim/bundle/funcoo.vim"]
	path = home/.vim/bundle/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "home/.vim/bundle/dash.vim"]
	path = home/.vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/you-complete-me"]
	path = home/.vim/bundle/you-complete-me
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "home/.vim/bundle/vimroom"]
	path = home/.vim/bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
