[submodule "home/.vim/bundle/todotxt"]
	path = home/.vim/bundle/todotxt
	url = https://github.com/sideshowcoder/vimtodotxt.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/web-indent"]
	path = home/.vim/bundle/web-indent
	url = git://github.com/lukaszb/vim-web-indent.git
[submodule "home/.vim/bundle/puppet"]
	path = home/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "home/.vim/bundle/less"]
	path = home/.vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "home/.vim/bundle/ruby-xmpfilter"]
	path = home/.vim/bundle/ruby-xmpfilter
	url = git://github.com/t9md/vim-ruby-xmpfilter.git
[submodule "home/.vim/bundle/zenburn"]
	path = home/.vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "home/.vim/bundle/vim-rooter"]
	path = home/.vim/bundle/vim-rooter
	url = git://github.com/airblade/vim-rooter.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/ack-vim"]
	path = home/.vim/bundle/ack-vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/task-list"]
	path = home/.vim/bundle/task-list
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "home/.vim/bundle/vim-elixir"]
	path = home/.vim/bundle/vim-elixir
	url = git://github.com/elixir-lang/vim-elixir.git
[submodule "home/.vim/bundle/tmux-navigator"]
	path = home/.vim/bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "home/.vim/bundle/coffee-script"]
	path = home/.vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/trailing-whitespace"]
	path = home/.vim/bundle/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "home/.vim/bundle/vim-racket"]
	path = home/.vim/bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "home/.vim/bundle/vimerl"]
	path = home/.vim/bundle/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule "home/.vim/bundle/vim-handlebars"]
	path = home/.vim/bundle/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "home/.vim/bundle/funcoo.vim"]
	path = home/.vim/bundle/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "home/.vim/bundle/dash.vim"]
	path = home/.vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "home/.vim/bundle/vim-jade"]
	path = home/.vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
  url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/vim-go"]
	path = home/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "home/.vim/bundle/gist-vim"]
	path = home/.vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "home/.vim/bundle/webapi-vim"]
	path = home/.vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule "home/.vim/bundle/fireplace"]
	path = home/.vim/bundle/fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "home/.vim/bundle/vim-leiningen"]
	path = home/.vim/bundle/vim-leiningen
	url = git://github.com/tpope/vim-leiningen.git
[submodule "home/.vim/bundle/vim-projectionist"]
	path = home/.vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "home/.vim/bundle/vim-dispatch"]
	path = home/.vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "home/.vim/bundle/vim-misc"]
	path = home/.vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "home/.vim/bundle/vim-notes"]
	path = home/.vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "home/.vim/bundle/fugative"]
	path = home/.vim/bundle/fugative
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/scratch"]
	path = home/.vim/bundle/scratch
	url = https://github.com/mtth/scratch.vim
